<div class="wrapper" ui-view>

<!-- PANEL-OFF -->
	<!-- <div class="panel-off" ng-show="!editStatus" >
		<div class="panel-header">
			<span class="panel-status">Статус: неактивно</span>
		</div>
		<div class="panel-button" ng-click="editStatus=!editStatus;random()">Начать Дегустацию </div>
		<div style="clear: both;"></div>
		<div class="panel-metod" >
			Выбор метода:
			<div class="panel-label">
				<label class="my-custom-label">
				    <input name="test" type="radio" ng-model="metod" value="1" />
				    <span>Метод Флейвора</span>
				</label> 
				<label class="my-custom-label">
				    <input name="test" type="radio" ng-model="metod" value="2" disabled/>
				    <span>Метод парного сравнивния</span>
				</label>
				<label class="my-custom-label" >
				    <input name="test" type="radio" ng-model="metod" value="3" disabled/>
				    <span>Метод триангуляции</span>
				</label>
				<label class="my-custom-label" >
				    <input name="test" type="radio" ng-model="metod" value="4" disabled/>
				    <span>Метод "Дуо-Трио"</span>
				</label>
				<label class="my-custom-label" >
				    <input name="test" type="radio" ng-model="metod" value="5" disabled/>
				    <span>Метод "два из пяти"</span>
				</label>
				<label class="my-custom-label" >
				    <input name="test" type="radio" ng-model="metod" value="6" disabled/>
				    <span>Метод "а не а"</span>
				</label>

			</div>
		</div>
Максимум до 16: Выбор оценки за дескриптор(максимальны); Выбор дескриптора,
		<div class="panel-people">
			Выбор количества участников:
			<div class="flex-container">
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="1" />
					<span class="flex-item">1</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="2"/>
					<span class="flex-item">2</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="3"/>
					<span class="flex-item">3</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="4"/>
					<span class="flex-item">4</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="5"/>
					<span class="flex-item">5</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="6"/>
					<span class="flex-item">6</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="7"/>
					<span class="flex-item">7</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="8"/>
					<span class="flex-item">8</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="9"/>
					<span class="flex-item">9</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="10"/>
					<span class="flex-item">10</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="11"/>
					<span class="flex-item">11</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="12"/>
					<span class="flex-item">12</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="13"/>
					<span class="flex-item">13</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="people" value="14"/>
					<span class="flex-item">14</span>
				</label> 
			</div>
		</div>
	</div> -->

<!-- PANEL-ON -->
	<!-- <div class="panel-on" ng-show="editStatus">
		<div class="panel-header">
			<span class="panel-status">Статус: активно</span>
		</div>

		<div class="float-el">
			<div class="panel-button" ng-click="editStatus=!editStatus">Прервать Дегустацию</div>
			<div class="panel-cod">
				Уникальный код: <span>{{rand}}</span> 
			</div>
			<div style="clear: both;"></div>
		</div>
		
	

		<div class="panel-people">
			Участники:
			<div class="people-kol-vo">
				Всего - {{people}} 
			</div>
			<div class="people-connect">
				Подключилось -
				<div class="flex-container">
					<div class="flex-item">1</div>
					<div class="flex-item">2</div>
					<div class="flex-item">3</div>
					<div class="flex-item">4</div>
					<div class="flex-item">5</div>
					<div class="flex-item">6</div>
					<div class="flex-item">7</div>
					<div class="flex-item">8</div>
					<div class="flex-item">9</div>
					<div class="flex-item">10</div>
					<div class="flex-item">11</div>
					<div class="flex-item">12</div>
					<div class="flex-item">13</div>
					<div class="flex-item">14</div>
				</div>
			</div>
		</div>
		
		<div class="panel-button-go" ui-sref=".fleivor">
			Перейти к сенсорному анализу
		</div>
	</div> -->


	<div class="panel-off">
		<div class="OFFpanel" ng-show="show==1">

			<div class="panel-header">
				<span class="panel-status">Статус: неактивно</span>
			</div>
			
			<div class="panel-content">
			<!-- SECTION ------------------------------------------>
				<section>
					<div class="section1">
						<img src="{{set?'/assets/img/minus.png':'/assets/img/plus.png'}}" ng-click="set=!set">
						<div>Панель:{{panel.number}} Участников: {{panel.people}}</div>
						
					</div>

					<div class="panel-show" ng-show="set">
						Номер дегустации
						<input type="number" ng-model="panel.number" >
						Количество участников
						<input type="number" ng-model="panel.people" >

					</div>
				</section>
<!-- SECTION ------------------------------------------>
				<section>
					<div class="section1">
						<img src="{{product?'/assets/img/minus.png':'/assets/img/plus.png'}}" ng-click="product=!product">
						<div>Продукт:{{panel.product}} </div>
						
					</div>

					<div class="product-show" ng-show="product">
						<label class="my-custom-label">
							<input type="radio" ng-model="panel.product" value="Вино"/>
							<span class="flex-item">Вино</span>
						</label> 
						<label class="my-custom-label">
							<input  type="radio" ng-model="panel.product" value="Мясо"/>
							<span class="flex-item">Мясо</span>
						</label> 
						<label class="my-custom-label">
							<input type="radio" ng-model="panel.product" value="Молоко"/>
							<span class="flex-item">Молоко</span>
						</label> 
						<label class="my-custom-label">
							<input type="radio" ng-model="panel.product" value="Пиво"/>
							<span class="flex-item">Пиво</span>
						</label> 
						<label class="my-custom-label">
							<input type="radio" ng-model="panel.product" value="Шампанское"/>
							<span class="flex-item">Шампанское</span>
						</label> 
					</div>
				</section>
<!-- SECTION ------------------------------------------>
				<section>
					<div class="section1">
						<img src="{{cart?'/assets/img/minus.png':'/assets/img/plus.png'}}" ng-click="cart=!cart">
						<div>Карта продукта: {{panel.proizvod}} {{panel.name}} {{panel.sort}} {{panel.god}} </div>
					</div>
					
					<div class="cart-show" ng-show="cart">
						<div class="karta">
							<div class="karta-1">
							<span>Производитель:</span><br>
							<span>Год:</span><br>
							<span>Название:</span><br>
							<span>Сорт:</span><br>
						</div>
						<div class="karta-2">
							<input type="text" ng-model="panel.proizvod"><br>				
							<input type="number" ng-model="panel.god"><br>				
							<input type="text" ng-model="panel.name"><br>
							<input type="text" ng-model="panel.sort"><br>
						</div>
						<div style="clear: both;"></div>
						</div>
					</div>
				</section>
<!-- SECTION ------------------------------------------>
				<section>
					<div class="section1">
						<img src="{{metod?'/assets/img/minus.png':'/assets/img/plus.png'}}" ng-click="metod=!metod">
						<div>Метод: {{panel.metod}} Макс. оценка: {{panel.eval}} </div>

					</div>
					
					<div class="metod-show" ng-show="metod">
						<div class="flex-container">
							<label class="my-custom-label">
							    <input type="radio" ng-model="panel.metod" value="Флейвора" />
							    <span>Метод Флейвора</span>
							</label> 
							<label class="my-custom-label">
							    <input  type="radio" ng-model="panel.metod" value="парного сравнивния" />
							    <span>Метод парного сравнивния</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="триангуляции" />
							    <span>Метод триангуляции</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="'Дуо-Трио'" />
							    <span>Метод "Дуо-Трио"</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="'два из пяти'"/>
							    <span>Метод "два из пяти"</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="'а не а'" />
							    <span>Метод "а не а"</span>
							</label>
						</div>

						<div class="max-point">
							Максимальная оценка:
							<input type="number" min="1" value="1" ng-model="panel.eval">
						</div>


					</div>
				</section>
				<div class="tofleivor">
					<button  ui-sref=".fleivor" class="button tofleivorBT">Анализ</button>
					<div style="clear: both;"></div>
				</div>

		</div>

<!-- STEP2 ------------------------------------------>
		<!-- <div class="step2" ng-show="show==2">
			<div class="panel-header">
			<span class="panel-status">Статус: неактивно</span>
			</div>
			<div class="step-status">
				<div class="status-page">2/5</div>
				<div class="status-text">Карта продукта</div>
				<div class="status-button">
					<button ng-click="show=1" class="back-button">Назад</button>
					<button ng-click="show=3" class="ready-button">Продолжить</button>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="step-content">
				Продукт:<span class="select">{{panel.produkt}}</span>
				<div class="karta">
				<div class="karta-1">
					<span>Производитель:</span><br>
					<span>Год:</span><br>
					<span>Название:</span><br>
					<span>Сорт:</span><br>
				</div>
				<div class="karta-2">
				<input type="text" ng-model="panel.proizvod"><br>				
				<input type="number" ng-model="panel.god"><br>				
				<input type="text" ng-model="panel.name"><br>
				<input type="text" ng-model="panel.sort"><br>
				</div>
				<div style="clear: both;"></div>
				</div>
			</div>
				
		</div> -->

<!-- STEP3 ------------------------------------------>
		<!-- <div class="step3" ng-show="show==3">
			<div class="panel-header">
			<span class="panel-status">Статус: неактивно</span>
			</div>
			<div class="step-status">
				<div class="status-page">3/5</div>
				<div class="status-text">Метод</div>
				<div class="status-button">
					<button ng-click="show=2" class="back-button">Назад</button>
					<button ng-click="show=4" class="ready-button">Продолжить</button>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="step-content">
				<div class="step3-block1">
					Продукт:<span class="select">{{panel.produkt}}</span>
				</div>
				<div class="step3-block2">
					<span>Производитель:{{panel.proizvod}}</span>
					<span>Год:{{panel.god}}</span><br>
					<span>Название:{{panel.name}}</span>
					<span>Сорт:{{panel.sort}}</span>
				</div>
				<div style="clear: both;"></div>
				<div class="metod">
				Выбор метода:
					<div class="panel-label">
						<div class="flex-container">
							<label class="my-custom-label">
							    <input type="radio" ng-model="panel.metod" value="Метод Флейвора" />
							    <span>Метод Флейвора</span>
							</label> 
							<label class="my-custom-label">
							    <input  type="radio" ng-model="panel.metod" value="Метод парного сравнивния" />
							    <span>Метод парного сравнивния</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="Метод триангуляции" />
							    <span>Метод триангуляции</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="Метод 'Дуо-Трио'" />
							    <span>Метод "Дуо-Трио"</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="Метод 'два из пяти'"/>
							    <span>Метод "два из пяти"</span>
							</label>
							<label class="my-custom-label" >
							    <input  type="radio" ng-model="panel.metod" value="Метод 'а не а'" />
							    <span>Метод "а не а"</span>
							</label>
						</div>
					</div>
				</div>
				<div class="max-point">
					Максимальная оценка:
					<input type="number" min="1" value="1" ng-model="panel.eval">
				</div>
			</div>
		</div> -->

<!-- STEP4 ------------------------------------------>
		<!-- <div class="step4" ng-show="show==4">
			<div class="panel-header">
			<span class="panel-status">Статус: неактивно</span>
			</div>
			<div class="step-status">
				<div class="status-page">4/5</div>
				<div class="status-text">Дескрипторы</div>
				<div class="status-button">
					<button ng-click="show=3" class="back-button">Назад</button>
					<button ng-click="show=5" class="ready-button">Продолжить</button>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="step-content">
					<div class="step3-block1">
						Продукт:<span class="select">{{panel.produkt}}</span>
					</div>
					<div class="step3-block2">
						<span>Производитель:{{panel.proizvod}}</span>
						<span>Год:{{panel.god}}</span><br>
						<span>Название:{{panel.name}}</span>
						<span>Сорт:{{panel.sort}}</span>
					</div>
					<div style="clear: both;"></div>
			</div>
			<div class="step4-content">
				<div class="panel-metod">
				Выбран метод:<span class="select">{{panel.metod}}</span>
				</div>
				<div class="panel-metod2">
					Максимальная оценка: <span>{{panel.eval}}</span>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="step4-deskr">
				Выбор дескрипторов:
				<div class="panel-label">
						<div class="flex-container">
							<label class="my-custom-label">
							    <input type="radio" ng-model="panel.deskr" value="Стандартные" />
							    <span>Стандартные</span>
							</label> 
							<label class="my-custom-label">
							    <input  type="radio" ng-model="panel.deskr" value="Измененные" />
							    <span>Выбрать</span>
							</label>
						</div>
					</div>
					Максимальное кол-во участников:
					<div class="flex-container">
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="1" />
					<span class="flex-item">1</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="2"/>
					<span class="flex-item">2</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="3"/>
					<span class="flex-item">3</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="4"/>
					<span class="flex-item">4</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="5"/>
					<span class="flex-item">5</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="6"/>
					<span class="flex-item">6</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="7"/>
					<span class="flex-item">7</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="8"/>
					<span class="flex-item">8</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="9"/>
					<span class="flex-item">9</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="10"/>
					<span class="flex-item">10</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="11"/>
					<span class="flex-item">11</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="12"/>
					<span class="flex-item">12</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="13"/>
					<span class="flex-item">13</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="14"/>
					<span class="flex-item">14</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="15"/>
					<span class="flex-item">15</span>
				</label> 
				<label class="my-custom-label">
					<input name="test2" type="radio" ng-model="panel.people" value="16"/>
					<span class="flex-item">16</span>
				</label> 
			</div>
			</div>
		</div> -->
<!-- STEP5 ------------------------------------------>
		<!-- <div class="step5" ng-show="show==5">
			<div class="panel-header">
			<span class="panel-status">Статус: неактивно</span>
			</div>
		<div class="step-status">
			<div class="status-page">5/5</div>
			<div class="status-text">Карта продукта</div>
			<div class="status-button">
				<button ng-click="show=4" class="back-button">Назад</button>
				<button ng-click="show=6" class="ready-button">Начать</button>
			</div>
			<div style="clear: both;"></div>
		</div>
		<table  cellspacing="0" cellpadding="5" align="center">
			<tr>
				<td>Продукт</td>
				<td>{{panel.produkt}}</td>
				<tr>
				<td>Производитель</td>
				<td>{{panel.proizvod}}</td>
				<tr>
				<td>Год</td>
				<td>{{panel.god}}</td>
				<tr>
				<td>Название</td>
				<td>{{panel.name}}</td>
				<tr>
				<td>Сорт</td>
				<td>{{panel.sort}}</td>
				<tr>
				<td>Выбран метод</td>
				<td>{{panel.metod}}</td>
				<tr>
				<td>Макс оценка</td>
				<td>{{panel.eval}}</td>
				<tr>
				<td>Дескрипторы</td>
				<td>Дескрипторы</td>
				<tr>
				<td>Кол-во участников</td>
				<td>{{panel.people}}</td>
				<tr>
			</tr>
		</table>
		</div> -->
<!-- STEP6 ------------------------------------------>
		<!-- <div class="step6" ng-show="show==6">
			<div class="panel-header">
			<span class="panel-status">Статус: активно</span>
		</div>

		<div class="step-status">
			<div class="status-text">Ожидание участников</div>
			<div class="status-button">
				<button ng-click="show=5" class="back-button">Прервать</button>
				<button ng-click="show=6" class="ready-button" ui-sref=".fleivor">Анализ</button>
			</div>
			<div style="clear: both;"></div>
		</div>
		
		<div class="info-button" ng-click="info=!info">Узнать подробности</div>

			<div class="people-connect">
				Подключилось -
				<div class="flex-container">
					<div class="flex-item">1</div>
					<div class="flex-item">2</div>
					<div class="flex-item">3</div>
					<div class="flex-item">4</div>
					<div class="flex-item">5</div>
					<div class="flex-item">6</div>
					<div class="flex-item">7</div>
					<div class="flex-item">8</div>
					<div class="flex-item">9</div>
					<div class="flex-item">10</div>
					<div class="flex-item">11</div>
					<div class="flex-item">12</div>
					<div class="flex-item">13</div>
					<div class="flex-item">14</div>
				</div>
			</div>
			<div class="info-absolute" ng-show="info">
				<table  cellspacing="0" cellpadding="5" align="center">
			<tr>
				<td>Продукт</td>
				<td>{{panel.produkt}}</td>
				<tr>
				<td>Производитель</td>
				<td>{{panel.proizvod}}</td>
				<tr>
				<td>Год</td>
				<td>{{panel.god}}</td>
				<tr>
				<td>Название</td>
				<td>{{panel.name}}</td>
				<tr>
				<td>Сорт</td>
				<td>{{panel.sort}}</td>
				<tr>
				<td>Выбран метод</td>
				<td>{{panel.metod}}</td>
				<tr>
				<td>Макс оценка</td>
				<td>{{panel.eval}}</td>
				<tr>
				<td>Дескрипторы</td>
				<td>Дескрипторы</td>
				<tr>
				<td>Кол-во участников</td>
				<td>{{panel.people}}</td>
				<tr>
			</tr>
		</table>
			</div>


		</div> -->

	</div>


<!-- 

	<div class="panel-off" ng-show="show==6" >
		<div class="panel-header">
			<span class="panel-status">Статус: активно</span>
		</div>

		<div class="float-el">
			<div class="panel-button" ng-click="editStatus=!editStatus">Прервать Дегустацию</div>
			<div class="panel-cod">
				Уникальный код: <span>{{rand}}</span> 
			</div>
			<div style="clear: both;"></div>
		</div>
		
	

		<div class="panel-people">
			Участники:
			<div class="people-kol-vo">
				Всего - {{people}} 
			</div>
			<div class="people-connect">
				Подключилось -
				<div class="flex-container">
					<div class="flex-item">1</div>
					<div class="flex-item">2</div>
					<div class="flex-item">3</div>
					<div class="flex-item">4</div>
					<div class="flex-item">5</div>
					<div class="flex-item">6</div>
					<div class="flex-item">7</div>
					<div class="flex-item">8</div>
					<div class="flex-item">9</div>
					<div class="flex-item">10</div>
					<div class="flex-item">11</div>
					<div class="flex-item">12</div>
					<div class="flex-item">13</div>
					<div class="flex-item">14</div>
				</div>
			</div>
		</div>
		
		<div class="panel-button-go" ui-sref=".fleivor">
			Перейти к сенсорному анализу
		</div>
</div>
 -->