<div class="wrapper" >
					<!-- 	NEW TABLE -->
<button ng-click="goFuck()">blabla</button>
			<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
				<tr>
					<th style="text-align:left">Фамилия и имя дегустатора</th>
				</tr>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center"><tr><th style="text-align:left">Название вина: {{panel.name}}</th></tr></table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center"><tr><th style="text-align:left">Год урожая: {{panel.god}}</th></tr></table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center"><tr><th style="text-align:left">Производитель: {{panel.proizvod}}</th></tr></table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							<th width="250px"> Флейвор(дискрипторы)</th>
							<th width="550px">Шкала оценки интенсивности <br> Слабая интенсивность -> Сильная интенсивность</th>
						</tr>
					</table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">1</td>
							 <td width="223px">Вишня</td>
							 <td width="550px">
									<label class="custom-label">
										<input ng-model="val.vish" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vish" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vish" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vish" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vish" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.vish" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.vish" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
							 </td>
						</tr>
			</table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">2</td>
							 <td width="223px">Гранат</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.gran" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.gran" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.gran" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.gran" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.gran" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.gran" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.gran" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>	
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">3</td>
							 <td width="221px">Смородина</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.smor" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.smor" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.smor" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.smor" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.smor" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.smor" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.smor" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">4</td>
							 <td width="222px">Ежевика</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.ej" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.ej" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.ej" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.ej" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.ej" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.ej" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.ej" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">5</td>
							 <td width="222px">Слива</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input  ng-model="val.sliv" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.sliv" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.sliv" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.sliv" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.sliv" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.sliv" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.sliv" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>
						<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">6</td>
							 <td width="221px">Конфитюр</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.konf" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.konf" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input name="test6 " ng-model="val.konf" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.konf" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.konf" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.konf" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.konf" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">7</td>
							 <td width="222px">Сафьян</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.saf" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.saf" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.saf" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.saf" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.saf" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.saf" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.saf" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">8</td>
							 <td width="222px">Черный шоколад</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.black" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.black" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.black" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.black" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.black" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.black" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.black" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>
					<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">9</td>
							 <td width="223px">Изюм</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model=val.izum type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model=val.izum type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model=val.izum type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model=val.izum type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model=val.izum type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model=val.izum type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model=val.izum type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			</table>
				<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">10</td>
							 <td width="222px">Сливки</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.slivki" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.slivki" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.slivki" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.slivki" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.slivki" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.slivki" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.slivki" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			 	</table>
			 			<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">11</td>
							 <td width="222px">Корица</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.kor" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.kor" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.kor" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.kor" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.kor"  type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.kor" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.kor" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			 	</table>
			 			<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center">12</td>
							 <td width="221px">Стручковая ваниль</td>
							 <td width="550px">
								<div >
									<label class="custom-label">
										<input ng-model="val.vanil" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vanil" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vanil" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vanil" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vanil" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vanil" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.vanil" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			 	</table>
			 	<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center"><b>2</b></td>
							 <td width="225px"><b>Вкус</b></td>
							 <td width="550px"><center><b>Шкала оценки интенсивности</b></center> <br>
								<div >
									<label class="custom-label">
										<input  ng-model="val.vkus" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input name="test121" ng-model="val.vkus" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.vkus" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.vkus" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.vkus" type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.vkus" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input  ng-model="val.vkus" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			 	</table>
			 	<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center"><b>3</b></td>
							 <td width="222px"><b>Послевкусие</b></td>
							 <td width="550px"><center><b>Шкала оценки интенсивности</b></center> <br>
								<div >
									<label class="custom-label">
										<input ng-model="val.poslevkus" type="radio"  value="1" />
										<span class="flex-iteme">1</span>
									</label> 
									<label class="custom-label">
										<input name="test131" ng-model="val.poslevkus" type="radio"  value="2" />
										<span class="flex-iteme">2</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.poslevkus" type="radio"  value="3" />
										<span class="flex-iteme">3</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.poslevkus" type="radio"  value="4" />
										<span class="flex-iteme">4</span>
									</label> 
									<label class="custom-label">
										<input type="radio"  value="5" />
										<span class="flex-iteme">5</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.poslevkus" type="radio"  value="6" />
										<span class="flex-iteme">6</span>
									</label> 
									<label class="custom-label">
										<input ng-model="val.poslevkus" type="radio"  value="7" />
										<span class="flex-iteme">7</span>
									</label> 
								</div>
							 </td>
						</tr>
			 	</table>
			 	<table width="800px" border="1" cellspacing="0" cellpadding="5" align="center">
						<tr>
							 <td width="20px" style="text-align: center"><b>4</b></td>
							 <td width="221px"><b>Общее впечатление</b></td>
							 <td width="550px"> <br>
								<div ><center>
									<label class="custom-label">
										<input ng-model="val.vpech" type="radio"  value="1" /> 
										<span class="flex-iteme">1</span> - хорошее
									</label> 
									<label class="custom-label">
										<input ng-model="val.vpech" type="radio"  value="2" />
										<span class="flex-iteme ">2 </span> - среднее
									</label> 
									<label class="custom-label">
										<input ng-model="val.vpech" type="radio"  value="3" />
										<span class="flex-iteme">3 </span> - плохое
									</label> </center>
								</div>
							 </td>
						</tr>
			 	</table>
</table>
<button ui-sref="^.grafik" ng-click="drawGrafik()" class="podt">Подтверждение</button>	
</div>