<div class="wrapper">
<!-- ПОКАЗАТЕЛИ -->
	<table width="1000px" border="2" cellspacing="0" cellpadding="5" align="center">
		<tr>
			<th width="125px">Показатели</th>
			<th width="125px">Превос<br>ходно</th>
			<th width="125px">Очень<br> хорошо</th>
			<th width="125px">Хорошо</th>
			<th width="125px">Удолетвор<br>ительно</th>
			<th width="125px">Неудолетв<br>орительно</th>
			<th width="125px">Приме<br>чания</th>
			<th width="125px">ИТОГО</th>

		</tr>
	</table>
	<!-- ВНЕШНИЙ ВИД -->
	<table width="1000" border="1" cellspacing="0" cellpadding="5" align="center"><tr><th width="100">Группы ароматов</th></tr></table>
	<table width="1000px" border="2" cellspacing="0" cellpadding="5" align="center">
		    <tr>
			    <td width="125px">Винный</td>	 	
			    <td width="125px"> 5 <input type="radio" ng-model="rad.vin" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.vin" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.vin" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.vin" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.vin" value="1" ></td>
			    <td width="125px"></td>
			    <td width="125px"></td>
		    </tr>
		    <tr>
			    <td width="125px">Цветочный</td>	 	
			    <td width="125px"> 5 <input type="radio" ng-model="rad.cvet" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.cvet" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.cvet" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.cvet" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.cvet" value="1" ></td>
  				<td width="125px"></td>
			    <td width="125px"></td>
		    </tr>
		      <tr>
			    <td width="125px">Травянистый</td>	 	
			    <td width="125px"> 5 <input type="radio" ng-model="rad.trav" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.trav" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.trav" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.trav" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.trav" value="1" ></td>
			    <td width="125px"></td>
			    <td width="125px"></td>
		    </tr>
		    <tr>
			    <td width="125px">Овощной</td>	 	
			    <td width="125px"> 5 <input type="radio" ng-model="rad.ovosh" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.ovosh" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.ovosh" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.ovosh" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.ovosh" value="1" ></td>
				<td width="125px"></td>
			    <td width="125px"></td>
		    </tr>
		      <tr>
			    <td width="125px">Минеральный</td>	 	
			    <td width="125px"> 5 <input type="radio" ng-model="rad.miner" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.miner" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.miner" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.miner" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.miner" value="1" ></td> 
			    <td width="125px"></td>
			    <td width="125px"></td>
		    </tr>
		      <tr>
			    <td width="125px">Мускатный</td>	 	
			    <td width="125px"> 5 <input type="radio" ng-model="rad.muskat" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.muskat" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.muskat" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.muskat" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.muskat" value="1" ></td>
  				<td width="125px"> </td>
			    <td width="125px"> </td>
		    </tr>
	</table>
	<!-- АРОМАТ()БУКЕТ -->
		<table width="1000" border="1" cellspacing="0" cellpadding="5" align="center"><tr><th width="100">Ароматы</th></tr></table>
		<table width="1000px" border="1" cellspacing="0" cellpadding="5" align="center">
		    <tr>
			    <td width="125px">Грейпфрут</td>	 	
			 
			    <td width="125px"> 5 <input type="radio" ng-model="rad.greip" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.greip" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.greip" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.greip" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.greip" value="1" ></td>
  			    <td width="125px"></td>
			    <td width="125px"></td>
		    </tr>
		    <tr>
			    <td width="125px">Крыжовник</td>	 	
			    
			    <td width="125px"> 5 <input type="radio" ng-model="rad.kruj" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.kruj" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.kruj" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.kruj" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.kruj" value="1" ></td>
				<td width="125px"> </td>
			    <td width="125px"> </td>
		    </tr>
		</table>
		<!-- ВКУС -->
		<table width="1000" border="1" cellspacing="0" cellpadding="5" align="center"><tr><th width="100">Порочные ароматы</th></tr></table>
				<table width="1000px" border="1" cellspacing="0" cellpadding="5" align="center">
		    <tr>
			    <td width="125px">Окисленный</td>	 	
			    <td width="125px"> 5 <input type="radio" ng-model="rad.okis" value="5" ></td>
			    <td width="125px"> 4 <input type="radio" ng-model="rad.okis" value="4" ></td>
			    <td width="125px"> 3 <input type="radio" ng-model="rad.okis" value="3" ></td>
			    <td width="125px"> 2 <input type="radio" ng-model="rad.okis" value="2" ></td>
			    <td width="125px"> 1 <input type="radio" ng-model="rad.okis" value="1" ></td>
				<td width="125px"></td>
			    <td width="125px"></td>
		    </tr>
		    <tr>
			    <td width="125">Эфирный</td>	 	 
			    <td width="125"> 5 <input type="radio" ng-model="rad.efir" value="5" ></td>
			    <td width="125"> 4 <input type="radio" ng-model="rad.efir" value="4" ></td>
			    <td width="125"> 3 <input type="radio" ng-model="rad.efir" value="3" ></td>
			    <td width="125"> 2 <input type="radio" ng-model="rad.efir" value="2" ></td>
			    <td width="125"> 1 <input type="radio" ng-model="rad.efir" value="1" ></td>
				<td width="125"> </td>
			    <td width="125"> </td>
		    </tr>
		</table>
		<!-- ГАРМОНИЯ/ОБЩЕЕ ВПЕЧАТЛЕНИЕ -->
		<table width="1000" border="1" cellspacing="0" cellpadding="5" align="center"><tr><th width="100">Характеристика вкуса</th></tr></table>
			<table width="1000px" border="1" cellspacing="0" cellpadding="5" align="center">
				<tr>
				   	<td width="125px">Интенсивность</td>	 	
				   	
				   	<td width="125px"> 5 <input type="radio" ng-model="rad.intens" value="5" ></td>
				    <td width="125px"> 4 <input type="radio" ng-model="rad.intens" value="4" ></td>
				    <td width="125px"> 3 <input type="radio" ng-model="rad.intens" value="3" ></td>
				    <td width="125px"> 2 <input type="radio" ng-model="rad.intens" value="2" ></td>
				    <td width="125px"> 1 <input type="radio" ng-model="rad.intens" value="1" ></td>
					<td width="125px"> </td>
				   	<td width="125px"> </td>
		    	</tr>
		    	<tr>
				   	<td width="125px">Кислотность</td>	 	
				   	<td width="125px"> 5 <input type="radio" ng-model="rad.kislot" value="5" ></td>
				    <td width="125px"> 4 <input type="radio" ng-model="rad.kislot" value="4" ></td>
				    <td width="125px"> 3 <input type="radio" ng-model="rad.kislot" value="3" ></td>
				    <td width="125px"> 2 <input type="radio" ng-model="rad.kislot" value="2" ></td>
				    <td width="125px"> 1 <input type="radio" ng-model="rad.kislot" value="1" ></td>
				    <td width="125px"> </td>
				   	<td width="125px"> </td>
		    	</tr>
		    	<tr>
				   	<td width="125px">Сладость</td>	 	
				   
				   	<td width="125px"> 5 <input type="radio" ng-model="rad.slad" value="5" ></td>
				    <td width="125px"> 4 <input type="radio" ng-model="rad.slad" value="4" ></td>
				    <td width="125px"> 3 <input type="radio" ng-model="rad.slad" value="3" ></td>
				    <td width="125px"> 2 <input type="radio" ng-model="rad.slad" value="2" ></td>
				    <td width="125px"> 1 <input type="radio" ng-model="rad.slad" value="1" ></td>
					<td width="125px"> </td>
				   	<td width="125px"> </td>
		    	</tr>
		    	<tr>
				   	<td width="125px">Типичность</td>	 	
				   	<td width="125px"> 5 <input type="radio" ng-model="rad.tip" value="5" ></td>
				    <td width="125px"> 4 <input type="radio" ng-model="rad.tip" value="4" ></td>
				    <td width="125px"> 3 <input type="radio" ng-model="rad.tip" value="3" ></td>
				    <td width="125px"> 2 <input type="radio" ng-model="rad.tip" value="2" ></td>
				    <td width="125px"> 1 <input type="radio" ng-model="rad.tip" value="1" ></td>
					<td width="125px"> </td>
				   	<td width="125px"> </td>
		    	</tr>
		    	<tr>
				   	<td width="125px">Длительность</td>	 	
				   	
				   	<td width="125px"> 5 <input type="radio" ng-model="rad.dlit" value="5" ></td>
				    <td width="125px"> 4 <input type="radio" ng-model="rad.dlit" value="4" ></td>
				    <td width="125px"> 3 <input type="radio" ng-model="rad.dlit" value="3" ></td>
				    <td width="125px"> 2 <input type="radio" ng-model="rad.dlit" value="2" ></td>
				    <td width="125px"> 1 <input type="radio" ng-model="rad.dlit" value="1" ></td>
					<td width="125px"> </td>
				   	<td width="125px"> </td>
		    	</tr>
		</table>				
		<button ui-sref="grafik">Все верно</button>
</div>