body {
	padding: 0;
	margin: 0;
}
.wrapper {
	width: 800px;
	margin: 0 auto;
}
///////////HEADER//////////////////////////////
.menu {
	width: 100%;
	background-color: #C52028;
	height: 25px;
	
	.index {
		cursor: pointer;

		&:hover{
			border-bottom: 2px solid black;
		}
	}
	li{
	display: inline;
	color: white;
	padding: 1px 20px 1px 20px;
	float: right;
		&:hover{
			border-bottom: 2px solid black;
			cursor: pointer;
		}
	}
}

///////////END-HEADER///////////////////////////

.main-background {
	background: url(../assets/img/main-background.jpg) no-repeat center;
	background-size: cover;
	height: 800px;
	padding-top: 30px;
}
.header-text {
		color: white;
		font-size: 34px;
		
		color: #C52028;
		// margin-top: 100px;
	}
.check {
	width: 50px;
	height: 50px;
	background-color: grey;
}
.graf1 {
	width: 400px;
	height: 400px;
	float: left;
}
.graf2 {
	margin-top: 100px;
	margin-left: 50px;
	width: 400px;
	height: 400px;
	float: left;
}
.graf3 {
	margin-top: 100px;
	width: 400px;
	height: 400px;
	float: left;
}